:root {
  // accent
  --primary-color-100: #bea6ff;
  --primary-color-300: #a280ff;
  --primary-color-500: #8c61ff;
  --primary-color-700: #704ecc;
  --primary-color-900: #382766;

  // danger
  --danger-color-300: #f23d61;

  // warning
  --warning-color-300: #e5ac39;

  // info
  --info-color-500: #397df6;
  --info-color-700: #2f68cc;
  --info-color-900: #234e99;
}
