@import '@/app/styles/mixins';

.deleteCardModal {
  @include flex(column, center, normal, 1.5rem);

  .btns {
    @include flex(row, space-between, center);

    @media (width <= 450px) {
      flex-direction: column-reverse;
      gap: 0.5rem;
      align-items: stretch;
    }
  }
}
