@import '@/app/styles/mixins';

.trigger {
  @include flex;

  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  .icon {
    fill: transparent;
    transition: 0.3s;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

.content {
  cursor: pointer;

  color: var(--light-color-100);

  background: var(--dark-color-700);
  border: 1px solid var(--dark-color-500);
  border-radius: 5px;
  outline: none;

  .arrow {
    width: 16px;
    height: 8px;
    fill: var(--dark-color-500);
  }
}

.item {
  padding: 12px;
  fill: var(--light-color-100);
  transition: all 0.3s;

  &[data-highlighted] {
    color: var(--primary-color-500);
    outline: none;
    fill: var(--primary-color-500);
  }

  .animatedItem {
    @include flex(row, flex-start, center, 1rem);

    .itemIcon {
      @include flex;

      transform: scale(0.75);
    }
  }
}

.disabledItem {
  cursor: initial;
  color: var(--dark-color-100);
  fill: var(--dark-color-100);
}

.separator {
  height: 1px;
  margin: 0 12px;
  background-color: var(--dark-color-500);

  &:last-child {
    display: none;
  }
}

.profileItem {
  cursor: initial;
  padding-right: 30px;

  &[data-highlighted] {
    color: var(--light-color-100);
    fill: var(--light-color-100);
  }
}
