.trigger {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  .icon {
    fill: transparent;
  }
}

.content {
  cursor: pointer;

  padding: 10px;

  color: var(--light-color-100);

  background: var(--dark-color-700);
  border: 1px solid var(--dark-color-500);
  border-radius: 5px;
  outline: none;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  padding-bottom: 10px;

  fill: var(--light-color-100);

  transition: all 0.3s;
}

.item:last-child {
  padding-bottom: 0;
}

.item[data-highlighted] {
  color: var(--dark-color-100);
  outline: none;
  fill: var(--dark-color-100);
}
