@import '@/app/styles/mixins';

.row {
  .nameCell {
    .name {
      color: white;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var(--primary-color-500);
      }

      &:active {
        color: var(--primary-color-700);
      }
    }
  }

  .count {
    width: 180px;
  }

  .updated {
    width: 220px;
  }

  .author {
    width: 200px;
  }

  .tableIcons {
    @include flex(row, center, center, 6px);

    .buttonWrapper {
      @include flex;
    }

    .icon {
      cursor: pointer;
      transform: scale(0.75);
      fill: var(--light-color-100);
      transition: all 0.3s ease-in-out;

      &:hover:not(.disabledIcon) {
        fill: var(--primary-color-300);
      }

      &:active:not(.disabledIcon) {
        fill: var(--primary-color-700);
      }
    }

    .disabledIcon {
      cursor: initial;
      fill: var(--dark-color-100);
    }
  }
}
