@import '@/styles/mixins';

.label {
  @include flex(row, flex-start, center, 0.25rem);

  cursor: pointer;
  width: max-content;

  &.disabled {
    cursor: initial;
    color: var(--dark-color-100);
  }

  .checkboxWrapper {
    @include flex(row, center, center);

    width: 36px;
    height: 36px;
    border-radius: 50%;

    &:hover:not(.disabled) {
      background: var(--dark-color-500);
    }

    &:active:hover:not(.disabled) {
      background: var(--dark-color-100);
    }

    .checkbox {
      @include flex(row, center, center);

      cursor: pointer;

      position: relative;

      width: 18px;
      height: 18px;

      background: transparent;
      border: 2px solid var(--light-color-900);
      border-radius: 2px;

      &[data-disabled] {
        cursor: initial;
        border-color: var(--dark-color-100);
      }

      .indicator {
        position: absolute;
        z-index: 100;
        top: -2px;
        color: var(--dark-color-100);

        &[data-disabled] {
          fill: var(--dark-color-900);
        }

        .icon {
          width: 18px;
          height: 18px;
          border-radius: 2px;
        }
      }
    }
  }
}
