@import '@/styles/mixins';

.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.root {

  @include flex(row, center, center);

  cursor: pointer;

  position: relative;

  width: 24px;
  height: 24px;

  background: transparent;
  border: 2px solid var(--light-color-900);
  border-radius: 2px;

  &[data-state='checked'] {
    border-color: var(--light-color-100);
  }

  &[data-disabled] {
    cursor: initial;
    border-color: var(--dark-color-100);
  }

  .indicator {
    position: absolute;
    top: -2px;
    right: 2px;

    width: 100%;
    height: 100%;
  }
}

.indicatorDisabled {
  // color: red;
  fill: var(--light-color-700);
}

.icon {
  color: var(--light-color-100);
  border-radius: 2px;
}

.label {
  cursor: pointer;
}

.disabled {
  cursor: initial;
  color: var(--dark-color-100);
}
