@import '@/app/styles/mixins';

.row {
  .questionWrapper {
    @include flex(row, flex-start, center, 1rem);
  }

  .answerCell {
    width: 275px;

    .answerWrapper {
      @include flex(row, flex-start, center, 1rem);
    }
  }

  .updatedCell {
    width: 200px;
  }

  .ratingCell {
    width: 180px;

    .rating {
      @include flex(row, center, center, 0.5rem);
    }
  }

  .iconsCell {
    width: 150px;

    .iconWrapper {
      @include flex(row, center, center, 0.5rem);

      .icon {
        @include icon;
      }
    }
  }

  .skeleton {
    width: 80px;
    height: 50px;
  }
}
