@import '@/app/styles/mixins';

.row {
  .answerCell {
    width: 350px;
  }

  .updatedCell {
    width: 200px;
  }

  .ratingCell {
    width: 180px;

    .rating {
      @include flex(row, center, center, 0.5rem);
    }
  }

  .iconsCell {
    width: 150px;

    .iconWrapper {
      @include flex(row, center, center, 0.5rem);

      .icon {
        @include icon;
      }
    }
  }
}
