@import '@/app/styles/mixins';

// .deleteCardModal {
//  @include flex(column, center, normal, 1.5rem);
//  .btns {
//    @include flex(row, space-between, center);
//  }
// }

.row {
  .updated {
    width: 180px;
  }

  .grade {
    width: 160px;
  }

  .controls {
    width: 110px;
  }
}
