@import '@/app/styles/mixins';

.content {
  @include container(var(--container-width));

  .titleWrapper {
    @include flex(row, space-between, center);

    margin-bottom: 36px;
  }

  .settingsWrapper {
    @include flex(row, space-between, center);

    margin-bottom: 36px;

    .input {
      width: 300px;
    }
  }

  .table {
    .nameCell {
      .name {
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
          color: var(--primary-color-500);
        }

        &:active {
          color: var(--primary-color-700);
        }
      }
    }

    .tableIcons {
      @include flex(row, center, center, 6px);

      width: 150px;

      .icon {
        cursor: pointer;
        transform: scale(0.75);
        fill: var(--light-color-100);
        transition: all 0.3s ease-in-out;

        &:hover {
          fill: var(--primary-color-300);
        }

        &:active {
          fill: var(--primary-color-700);
        }
      }
    }
  }
}

.modalContent {
  @include flex(column, center, normal, 1.5rem);

  .modalButtons {
    @include flex(row, space-between, center);
  }
}
