@import '@/app/styles/mixins';

.content {
  @include container(var(--container-width));

  .noDataMessage {
    @include flex(row, center, center);

    margin-top: 100px;
    color: var(--dark-color-100);
  }

  @media (width <= 1090px) {
    width: 90%;
  }
}
