@import '@/app/styles/mixins';

.content {
  @include container(1240px);

  .card {
    @include container(420px);
    @include flex(column, center, normal, 0.5rem);

    // overflow: auto;
    // max-height: 700px;
    padding: 36px;

    .title {
      margin-bottom: 15px;
      text-align: center;
    }

    .questionWrapper {
      @include flex(column, flex-start, flex-start, 1rem);

      .questionText {
        @include flex(row, flex-start, normal, 0.5rem);

        .question {
          word-break: break-all;
        }
      }

      .questionImg {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }

    .attempts {
      margin-bottom: 10px;
      color: var(--dark-color-100);
    }

    .btns {
      @include flex(column, center, normal, 1rem);
    }

    .answerBlock {
      @include flex(column, center, normal, 1rem);

      .answerWrapper {
        @include flex(row, flex-start, normal, 0.5rem);

        .answer {
          word-break: break-all;
        }
      }

      .answerImg {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}
