@import '@/app/styles/mixins';

.wrapper {
  @include flex(column, flex-start, center, 0.5rem);
  @include container(420px);

  padding: 1.5rem 2rem;

  .notification {
    margin-top: 15px;
    color: var(--light-color-900);
  }

  .signUp {
    @include link-hover;
  }
}
