@import '@/app/styles/mixins';

.wrapper {
  @include flex(column, flex-start, center, 0.5rem);
  @include container(420px);

  padding: 1.5rem 2rem;

  .title {
    margin-bottom: 40px;
  }

  .notification {
    margin-top: 20px;
    color: var(--light-color-900);
  }

  .btn {
    @include link-hover;
  }

  @media (width <= 460px) {
    width: 90%;
  }
}
