@import '@/app/styles/mixins';

.wrapper {
  @include flex(row, flex-start, center, 1rem);

  position: relative;
  width: 300px;

  .label {
    position: absolute;
    top: -25px;
    left: 0;
  }

  .count {
    width: 36px;
  }

  .root {
    @include flex(row, flex-start, center);

    touch-action: none;
    user-select: none;

    position: relative;

    width: 100%;
    height: 20px;

    .track {
      cursor: pointer;

      position: relative;

      flex-grow: 1;

      height: 6px;

      background-color: var(--primary-color-900);
      border-radius: 9999px;

      .range {
        position: absolute;
        height: 100%;
        background-color: var(--primary-color-500);
        border-radius: 9999px;
      }
    }

    .thumb {
      cursor: pointer;

      display: block;

      width: 16px;
      height: 16px;

      background-color: white;
      border: 4px solid var(--primary-color-500);
      border-radius: 10px;
      outline: none;

      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 -2px 8px 0 var(--light-color-500);
      }
    }
  }
}
