@import '@/app/styles/mixins';

.content {
  @include container(420px);
  @include flex(column, flex-start, center);

  padding: 36px;

  .title {
    margin-bottom: 28px;
    text-align: center;
  }

  .icon {
    margin-bottom: 20px;
  }

  .notification {
    margin-bottom: 55px;
    color: var(--dark-color-100);
    text-align: center;
  }

  @media (width <= 460px) {
    width: 90%;
  }
}
