@import '@/styles/mixins';

.root {
  user-select: none;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  vertical-align: middle;

  background: transparent;
  border-radius: 100%;

  &.large {
    width: 96px;
    height: 96px;
    font-size: 2.25em;
  }

  .avatarImg {
    width: 100%;
    height: 100%;
  }

  .fallback {
    @include flex;

    width: 100%;
    height: 100%;
    border: 1px solid var(--light-color-100);
    border-radius: 100%;
  }
}
