@import '@/app/styles/mixins';

.overlay {
  position: fixed;
  inset: 0;

  overflow-y: auto;
  display: grid;
  place-items: center;

  background: rgb(0 0 0 / 30%);
}

.content {
  @include flex(column, center, space-between);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;

  .titleWrapper {
    @include flex(row, space-between, center);

    padding: 18px 24px;
    border-bottom: 1px solid var(--dark-color-500);

    .title {
      color: var(--light-color-100);
    }

    .close {
      @include icon-wrapper;
    }
  }

  .childrenWrapper {
    padding: 16px 24px;
  }
}

@media (width <= 1090px) {
  .content {
    width: 50%;
  }
}

@media (width <= 850px) {
  .content {
    width: 60%;
  }
}

@media (width <= 710px) {
  .content {
    width: 70%;
  }
}

@media (width <= 550px) {
  .content {
    width: 80%;
  }
}
