@import '@/app/styles/mixins';

.form {
  @include flex(column, center, normal, 1rem);

  width: 100%;

  .password {
    margin-top: 40px;
  }

  .text {
    margin-top: 10px;
    color: var(--dark-color-100);
  }

  .btn {
    margin: 25px 0 40px;
  }
}
