@import '@/styles/mixins';

.wrapper {
  @include flex(column, flex-start, center, 0.5rem);

  width: 420px;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  .notification {
    margin-top: 20px;
    color: var(--light-color-900);
  }
}
