@import '@/styles/mixins';

.wrapper {
  @include flex(column, center, flex-start);

  width: 100%;

  .label {
    color: var(--dark-color-100);
  }

  .inputWrapper {
    position: relative;
    width: 100%;
    color: var(--dark-color-100);
    fill: var(--dark-color-100);

    .searchIcon {
      position: absolute;
      top: 6px;
      left: 10px;
      fill: var(--dark-color-100);
    }

    .showPasswordButton {
      cursor: pointer;

      position: absolute;
      top: 6px;
      right: 6px;

      background: transparent;
      border: none;
      outline: none;
    }

    .closeIcon {
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 5px;
    }

    &:focus-within .searchIcon,
    &:focus-within .closeIcon {
      color: var(--light-color-100);
      fill: var(--light-color-100);
    }

    .disabledIcon {
      cursor: initial;
      fill: var(--dark-color-300);
    }

    .errorMessage {
      position: absolute;
      bottom: -18px;
      left: 0;
      color: var(--danger-color-300);
    }
  }

  .input {
    @include flex(row, center, center);

    width: 100%;
    padding: 0.5rem 0.75rem;

    background: transparent;
    border: 1px solid var(--dark-color-300);
    border-radius: 2px;
    outline: none;

    transition: all 0.3s ease-in-out;

    &:focus {
      color: var(--light-color-100);
      border-color: var(--light-color-100);
    }

    &:active:not(:disabled, .error) {
      color: var(--light-color-100);
      border-color: var(--light-color-100);
    }

    &:hover:not(:disabled, :focus, .error) {
      background: var(--dark-color-700);
      border-color: var(--dark-color-100);
    }

    &.withSearchIcon {
      padding-right: 25px;
      padding-left: 40px;
    }

    &.password {
      padding-right: 40px;
    }

    &.error {
      color: var(--danger-color-300);
      border-color: var(--danger-color-300);

      &:focus {
        outline: 1px solid var(--info-color-500);
      }
    }

    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
      appearance: none;
    }
  }
}

.disabled {
  color: var(--dark-color-300);
  border-color: var(--dark-color-300);
}
