@import '@/app/styles/mixins';

.button {
  cursor: pointer;
  user-select: none;

  // @include flex(row, center, center, 10px);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  line-height: var(--line-height-m);
  text-decoration: none;

  border: none;
  border-radius: 4px;
  outline: none;

  transition: 0.3s;

  &:focus-visible {
    outline: 2px solid var(--info-color-700);
  }

  &:disabled {
    cursor: initial;
  }

  &.primary {
    background-color: var(--primary-color-500);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

    &:hover {
      background: var(--primary-color-300);
    }

    &:active {
      background: var(--primary-color-700);
    }

    &:disabled {
      color: var(--light-color-900);
      background: var(--primary-color-900);
    }
  }

  &.secondary {
    background-color: var(--dark-color-300);
    box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

    &:hover {
      background: var(--dark-color-100);
    }

    &:active {
      background: var(--dark-color-500);
    }

    &:disabled {
      color: var(--light-color-900);
      background: var(--dark-color-300);
    }
  }
}

.link {
  padding: 0.5rem 1rem;

  color: var(--primary-color-500);

  background-color: inherit;
  border: none;
  border-radius: 25px;

  &:hover {
    color: var(--primary-color-300);
  }

  &:active {
    color: var(--primary-color-700);
  }

  &:disabled {
    color: var(--primary-color-900);
  }
}

.tertiary {
  color: var(--primary-color-500);
  background-color: inherit;
  border: 1px solid var(--primary-color-500);

  &:hover {
    color: var(--primary-color-500);
    background: var(--dark-color-500);
    border-color: var(--primary-color-700);
  }

  &:active {
    color: var(--primary-color-500);
    background: var(--primary-color-900);
    border-color: var(--primary-color-700);
  }

  &:disabled {
    color: var(--primary-color-900);
    background: inherit;
    border-color: var(--primary-color-900);
  }

  &.fullWidth {
    width: 100%;
  }
}
