@import '@/app/styles/mixins';

.row {
  .nameWrapper {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;

    color: var(--light-color-100);
    text-decoration: none;

    .name {
      transition: 0.3s ease-in-out;
    }

    &:hover .name {
      color: var(--primary-color-500);
    }

    &:active .name {
      color: var(--primary-color-700);
    }

    .skeleton {
      width: 80px;
      height: 50px;
    }
  }

  .count {
    width: 150px;
  }

  .updated {
    width: 180px;
  }

  .author {
    width: 200px;
  }

  .controls {
    width: 180px;

    .icons {
      @include flex(row, center, center, 6px);

      .buttonWrapper {
        @include flex;
      }

      .icon {
        cursor: pointer;
        transform: scale(0.75);
        fill: var(--light-color-100);
        transition: all 0.3s ease-in-out;

        &:hover:not(.disabledIcon) {
          fill: var(--primary-color-300);
        }

        &:active:not(.disabledIcon) {
          fill: var(--primary-color-700);
        }
      }

      .disabledIcon {
        cursor: initial;
        fill: var(--dark-color-100);
      }
    }
  }
}

@media (width <= 1000px) {
  .row {
    .count {
      width: auto;
    }

    .updated {
      width: auto;
    }

    .author {
      width: auto;
    }

    .controls {
      width: auto;
    }
  }
}

@media (width <= 780px) {
  .row {
    .nameCell {
      text-align: center;

      .nameWrapper {
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .count {
      text-align: center;
    }

    .updated {
      text-align: center;
    }

    .author {
      text-align: center;
    }

    .controls {
      text-align: center;
    }
  }
}

@media (width <= 500px) {
  .row {
    .controls {
      border-top: 1px solid var(--dark-color-500);

      .icons {
        gap: 0;
        width: 100%;

        .icon {
          transform: scale(0.9);
        }

        .buttonWrapper {
          margin: 8px auto;
        }
      }
    }
  }
}
