body[data-theme='dark'] {
  --light-color-100: #fff;
  --light-color-300: #f9f7ff;
  --light-color-500: #f4f2fa;
  --light-color-700: #dcdae0;
  --light-color-900: #c3c1c7;

  // dark
  --dark-color-100: #808080;
  --dark-color-300: #4c4c4c;
  --dark-color-500: #333;
  --dark-color-700: #171717;
  --dark-color-900: #000;
}
