body[data-theme='light'] {
  --light-color-100: #000;
  --light-color-300: #171717;
  --light-color-500: #333;
  --light-color-700: #4c4c4c;
  --light-color-900: #727272;

  // dark
  --dark-color-100: #7d7d7d;
  --dark-color-300: #8f8f8f;
  --dark-color-500: #aaa7af;
  --dark-color-700: #c1c0c4;
  --dark-color-900: #e6e5e8;
}
