@import '@/app/styles/mixins';

.modalContent {
  @include flex(column, center, normal, 1.5rem);

  .btnWrapper {
    @include flex(row, space-between, center, 1rem);

    .btn {
      width: 100%;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    fill: var(--light-color-100);
  }

  .cover {
    height: 150px;
    object-fit: cover;
  }

  .modalButtons {
    @include flex(row, space-between, center);
  }
}

@media (width <= 610px) {
  .modalContent {
    .btnWrapper {
      flex-direction: column-reverse;
      gap: 0.5rem;
      align-items: stretch;

      .btn {
        width: auto;
      }
    }

    .modalButtons {
      flex-direction: column-reverse;
      gap: 0.5rem;
      align-items: stretch;
    }
  }
}
