@import '@/app/styles/mixins';

.modalContent {
  @include flex(column, center, normal, 1rem);

  .cover {
    height: 150px;
    object-fit: cover;
  }

  .btnWrapper {
    @include flex(row, space-between, center, 1rem);
  }

  .modalButtons {
    @include flex(row, space-between, center);

    padding: 16px 0;
  }

  .icon {
    width: 16px;
    height: 16px;
    fill: var(--light-color-100);
  }
}
