@import '@/app/styles/mixins';

.content {
  @include container(var(--container-width));

  .titleWrapper {
    @include flex(row, space-between, center);

    margin-bottom: 36px;
  }

  .settingsWrapper {
    @include flex(row, space-between, center);

    margin-bottom: 36px;

    .input {
      width: 300px;
    }
  }

  .nameCell {
    display: flex;
    align-items: flex-start;

    .btn {
      color: white;
      text-decoration: none;
    }
  }
}

.modalContent {
  @include flex(column, center, normal, 1.5rem);

  margin-top: 20px;

  .modalButtons {
    @include flex(row, space-between, center);
  }
}
