@import '@/app/styles/mixins';

.information {
  @include flex(column, center, center, 0.5rem);

  .name {
    @include flex(row, center, center, 0.5rem);

    .btn {
      @include icon-wrapper;

      .editIcon {
        transform: scale(0.75);
      }
    }
  }

  .email {
    color: var(--dark-color-100);
  }

  .logoutIcon {
    transform: scale(0.75);
    fill: var(--light-color-100);
  }
}
