@import '@/app/styles/mixins';

.form {
  @include flex(column, center, normal, 1rem);

  width: 100%;

  .checkbox {
    align-self: flex-start;
  }

  .forgotPassword {
    @include link-hover;

    align-self: flex-end;
    margin-bottom: 30px;
    color: var(--light-color-100);
  }
}
