.wrapper {
  .btn {
    padding: 0;
    color: var(--light-color-100);
    fill: var(--light-color-100);

    &:hover {
      fill: var(--primary-color-500);
    }

    &:active {
      fill: var(--primary-color-700);
    }

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}
