@import '@/app/styles/mixins';

.row {
  .questionWrapper {
    @include flex(row, flex-start, center, 1rem);
  }

  .answerCell {
    width: 345px;

    .answerWrapper {
      @include flex(row, flex-start, center, 1rem);
    }
  }

  .updatedCell {
    width: 200px;
  }

  .ratingCell {
    width: 180px;

    .rating {
      @include flex(row, center, center, 0.5rem);
    }
  }

  .iconsCell {
    width: 150px;

    .iconWrapper {
      @include flex(row, center, center, 0.5rem);

      .btn {
        @include icon-wrapper;

        .icon {
          transform: scale(0.75);
        }
      }
    }
  }

  .skeleton {
    width: 80px;
    height: 50px;
  }
}

@media (width <= 1090px) {
  .row {
    .answerCell {
      width: auto;
    }

    .updatedCell {
      width: auto;
    }

    .ratingCell {
      width: auto;
    }

    .iconsCell {
      width: auto;
    }
  }
}

@media (width <= 880px) {
  .row {
    .questionCell {
      text-align: center;

      .questionWrapper {
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .answerCell {
      text-align: center;

      .answerWrapper {
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .ratingCell {
      .rating {
        gap: 0.3rem;
      }
    }
  }
}

@media (width <= 570px) {
  .row {
    border: 1px solid var(--dark-color-500);
    border-radius: var(--border-radius);

    .questionCell {
      text-align: end;

      .questionCover {
        align-self: end;
      }
    }

    .answerCell {
      text-align: end;

      .answerCover {
        align-self: end;
      }
    }

    .iconsCell {
      padding: 0;

      .iconWrapper {
        gap: 0;
        width: 100%;
        border-top: 1px solid var(--dark-color-500);

        .btn {
          width: 100%;
          padding: 8px 0;
          border-right: 1px solid var(--dark-color-500);

          &:last-child {
            border-right: none;
          }

          .icon {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
