@import '@/app/styles/mixins';

.form {
  @include flex(column, center, normal, 1rem);

  width: 100%;
  padding: 10px 0;

  .buttons {
    @include flex(column, space-between, normal, 1rem);

    margin-top: 20px;
  }
}
