@import '@/app/styles/mixins';

.content {
  @include container(var(--container-width));

  .backBtn {
    margin-bottom: 50px;
  }

  .wrapper {
    @include flex(column, flex-start, center);

    @include container(420px);

    padding: 1.5rem 2rem;

    .avatar {
      margin: 30px 0 10px;
    }
  }
}
